.App {
  text-align: center;
}

input {
  margin: 0.5em;
}

ul {
  list-style-type: none;
}

button {
  margin-left: 0.5em;
  padding: 0.3em 0.6em;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}